<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Ícones -->
  <script src="https://kit.fontawesome.com/20f92d3b80.js" crossorigin="anonymous"></script>

  <!-- Fonte e CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_inicio.css') }}">

  <title>Atividades</title>
</head>

<body>

  <!-- NAV SUPERIOR -->
  <nav id="navbar">
    <button id="hamburguer"></button>
    <div class="logo">SIADE</div>

    <div class="icons">
      <i class="fa-solid fa-bell fa-lg"></i>
      <i class="fa-solid fa-user fa-lg"></i>
    </div>
  </nav>

  <!-- MENU LATERAL -->
  <aside id="Menu-lateral">
    <div>
      <a href="{{ url_for('login') }}"><i class="fa-solid fa-chalkboard-user fa-lg"></i> Minhas Salas</a>
      <a href="{{ url_for('sair') }}"><i class="fa-solid fa-door-open fa-lg"></i> Sair</a>
    </div>
  </aside>

  <!-- CONTEÚDO PRINCIPAL -->
  <main id="Bloco-Principal">

    <h2>Atividades da Sala</h2>

    <div class="cards">

      {% for a in atividades %}
      <div class="card">

        <div class="icon">📘</div>

        <h3>{{ a['titulo'] }}</h3>

        <p>{{ a['descricao'][:80] }}...</p>

        <span>Criada em: {{ a['data_criacao'] }}</span>

        <!-- Botão responder (aluno) -->
        <a href="/atividade/{{ a['id'] }}/responder">
          <button>Responder</button>
        </a>

      </div>
      {% endfor %}

      {% if atividades|length == 0 %}
      <p>Nenhuma atividade foi criada ainda.</p>
      {% endif %}

    </div>

  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
