<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Icones personalizados-->
  <script src="https://kit.fontawesome.com/20f92d3b80.js" crossorigin="anonymous"></script>
  <!--Fonte personalizada-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <!--Estilo personalizado-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style_inicio.css') }}">
  <!--Titulo-->
  <title>inicio</title>
</head>
<body>
  <nav id="navbar"> <!--navegação-Principal-->
    <button id="hamburguer"></button>
    <div class="logo">SIADE</div>
    
    <div class="icons">
      <i class="fa-solid fa-bell fa-lg"></i>
      <i class="fa-solid fa-user fa-lg"></i>
    </div>
  </nav>

  <aside id="Menu-lateral"><!--Menu lateral-->
    <div>
      <a href="#"><i class="fa-solid fa-chalkboard-user fa-lg"></i> Minhas Salas</a>
      <a href="{{ url_for('index') }}"><i class="fa-solid fa-door-open fa-lg"></i>Sair</a>
    </div>
  </aside>

  <main id="Bloco-Principal"> <!--Grade principal das salas de aula-->
    <h2>Atividades Disponíveis</h2>

    <div class="cards">
    
      {% if atividades %}
          {% for a in atividades %}
          <div class="card">
            <div class="icon">📘</div>
            <h3>{{ a.titulo }}</h3>
            <p>{{ a.descricao }}</p>
            <span>Professor: {{ a.professor_email }}</span><br>
            <small>{{ a.data_criacao }}</small>
    
            <a href="/atividade/{{ a.id }}">
              <button>Responder</button>
            </a>
          </div>
          {% endfor %}
      
      {% else %}
          <p>Nenhuma atividade disponível no momento.</p>
      {% endif %}
    
    </div>
    
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>   <!--Codigo JS-->
</body>
</html>
